<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>easydesu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8883CA2C1E7E74A900EF3265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8883CA401E7E74AC00EF3265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8883CA4B1E7E74AC00EF3265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
